<!--
  Generated template for the CreateIssuePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CreateIssue</ion-title>
    <!-- Logout button  -->
    <ion-buttons end>
      <button ion-button icon-only (click)='logOut()'>
        <ion-icon name='log-out'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #createIssueForm='ngForm' (submit)='sendIssue(createIssueForm)'>
    <ion-title>Let's create an issue</ion-title>

    <ion-item>
        <ion-label>Issue Type</ion-label>
        <ion-select [(ngModel)]="newIssue.issueTypeHref" 
        name = 'issueTypeHref' required 
        interface="popover">
          <ion-option *ngFor='let issuetype of issueTypes' value='{{issuetype.href}}'>{{ issuetype.name }}</ion-option>          
        </ion-select>        
      </ion-item>      

    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea 
      [(ngModel)]='newIssue.description'
      name = 'description'></ion-textarea>
    </ion-item>

    <!--HASHTAG link https://www.npmjs.com/package/ionic-tags-input-->
    <ion-tags-input 
    [(ngModel)]="newIssue.tags" 
    name = 'tags'
    [placeholder]="'add tag'"></ion-tags-input>

    <button id="btn_takePicture" ion-button (click)='takePicture()'>
      <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
    </button>

    <img *ngIf='pictureData' src='data:image/jpeg;base64,{{ pictureData }}' />

    <button ion-button block color="danger" type="submit" [disabled]='createIssueForm.invalid'>Create issue</button>


  </form>
</ion-content>