page-issue-map {
    .map {
        height: 100%;
      }
      .btn_issue{
          text-transform: none;
      }
      #filter{
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px;
        z-index: 400;
      }
}
